.Control-Buttons {
    display: flex;

   margin-top: -10px;
   height: 100px;
  }
    
  .btn-grp {
   display:flex;
   
  
  }
    
  .btn {
    margin-left: 40px;
    border: solid 1px;
    display:flex;
    justify-content: space-around;
  }
    
  .btn-one{
    border: solid 1px;
    margin-left: 40px;
  }