.card1{
    background: orange;
    color: brown;
    width:500px;
    margin-left: 300px;
    margin-bottom: 20px;
    height: 300px;
}

.card2{
background-color: white;
margin-left: 300px;

}